*{margin:0; padding:0;}
ul{list-style: none;}
a{text-decoration: none; color:#000;}

#header{width: 100%;height: 100px; }
.header_inner{width: 1320px; position: relative; margin: 0 auto;}
.header_inner .logo{position: absolute;left: 0;top: 20px;}
.header_inner .title{position: absolute;left: 50%;top: 50px; margin-left: -115px;}
.login{float: right;}
.login li{float: left; margin-top: 15px;}
.login li a{display: block; padding: 15px 10px; font-size: 18px;}


#nav{width: 100%; height: 70px; text-align: center; }
.nav_inner{width: 1320px; height: 70px; margin: 0 auto; }
.nav_inner li{float: left;width: 25%; margin-top: 10px;}
.nav_inner li a{display: block; padding: 20px 10px; font-size: 19px; font-weight: bold;}


#banner{width: 100%;overflow: hidden; background-size: cover; background-size: cover;}

#con{width: 1320px; margin: 0 auto; text-align: center;}

/*table*/
table{border-collapse: collapse;
    width: 100%;
}

tr{text-align: center;}
td{text-align: center;padding:20px 0;
    border-bottom:1px solid #ccc;
}
th{padding: 20px 0;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background-color: #eee;
}

.red{ background:url(../images/123.png)no-repeat center; color: #fff;}


h1{margin: 30px 0 40px 0;}
h2{display: inline-block; background-color: #333;
 padding: 18px 15px;
 margin: 20px 0 30px 0;
 color: #fff;
}
p{font-size: 20px;  margin-top: 25px;}

h2:hover{background-color: darksalmon; color: #000;}

#footer{width: 100%; height: 300px; background-color: #555; margin-top: 100px;}
.footer_inner{width: 1320px;height: 280px; margin: 0 auto;}
.footer_ul{width:670px; float:left;}



.footer_text li{float: left;}
.footer_text  li a{display: block; color: #fff; padding: 70px 15px 15px 15px; font-size: 20px;}

.footer_text2{color: #fff;clear: both;  margin: 30px 0 10px 15px; 
 clear: both;}

.sns{ float: left; }
.sns li{float: left;}
.sns li a{display: block; padding: 0 10px 0  10px; opacity: 0.5;}
.sns li a:hover{opacity: 1;}

.footer_ul2{float:  left; color: #fff; width:300px; margin-top:70px;}
         .customerpadding{padding-top:30px;}

.footer_inner .logo2{float: right;  }

.footer_ul2 ul li:nth-child(1){font-size:19px; font-weight: bold; padding-bottom:15px;}
.more{padding-top:20px;}

.logo2{display:inline-block; margin-top:170px;}
